buildSrc/.gradle
buildSrc/build

discord/.gradle
discord/build

paper/.gradle
paper/build

common/.gradle
common/build

velocity/build
velocity/.gradle

.gradle
.idea
build

example/.gradle
example/build

example/run